<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Admin Panel</title>
</head>
<body>
<h1>Admin Panel</h1>

<form action="#" th:action="@{/users}" method="post">

    <div class="form-actions">
        <a href="/deleteUser" role="button" type="">Delete User</a>
    </div>

    <div class="notes-list">
        <h2>Users:</h2>
        <ul>
            <li th:each="user : ${users}">
                <a th:text="${user.username}" th:href="@{/usersNotes/{userid}(userid=${user.id})}"/>
            </li>
        </ul>
    </div>
</form>
</body>
</html>
