<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Notes</title>
</head>
<body>



<div class="form-container">
  <h1>Delete Note</h1>
  <p>Chose the note to delete</p>

  <form action="#" th:action="@{/notes}" method="post">
    <div class="form-actions">
      <a href="/notes" role="button" type="">Return to the notes</a>
    </div>

    <div class="notes-list">
      <h2>Your Notes:</h2>
      <ul>
        <li th:each="note : ${notes}">
          <a th:text="${note.title}" th:href="@{/deleteNote/{id}(id=${note.id})}" />
        </li>
      </ul>
    </div>
  </form>
</div>

</body>
</html>
