<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Notes</title>
</head>
<body>



<div class="form-container">
  <h1>Notes of user <span th:text="${username}"></span></h1>
  <p>Here you can view and delete users notes.</p>

  <div class="form-actions">
    <a href="/deleteUsersNote" role="button" type="">Delete note</a>
  </div>

  <form action="#" th:action="@{/notes}" method="post">
    <div class="notes-list">
      <ul>
        <li th:each="note : ${notes}">
          <a th:text="${note.title}" th:href="@{/viewNote/{id}(id=${note.id})}"/>
        </li>
      </ul>
    </div>
  </form>
</div>

</body>
</html>
